/** navbar customisation */
.navbar{
	min-height: 30px
}

.navbar-top-links li a {
	min-height: 30px;
	padding: 10px 15px;
}

.navbar-brand {
	padding: 15px 15px 10px;
}

.navbar-inverse .navbar-brand{
	color: #ddd;
}

.navbar-inverse{
	background: linear-gradient(to bottom, #2C3742 0%, #28303A 100%);
	border-bottom: 1px solid #191E23;
	color:#ddd;
}

.navbar-logo{
	float:left;
	display: inline-block;
	font-weight: bold;
}

.page-header-box  h3, .page-header-box  a{
	margin-top:15px;
	border-bottom: none;
}

.page-header-box{
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

/** sidebar arrow */
.pointer {
	position: absolute;
	right: 20px;
	top: 10px;
}
.pointer .arrow,
.pointer .arrow_border {
	border-color: transparent #fff transparent transparent;
	border-width: 11px;
	border-style: solid;
	font-size: 0;
	left: 50%;
	line-height: 0;
	margin: 0 auto;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 1002;
	left: 0;
	margin-left: 45%;
}
.pointer .arrow_border {
	border-color: transparent #e7e7e7 transparent transparent;
	border-width: 11px;
	margin-left: -1px;
	border-style: solid;
	z-index: 1001;
	top: 0px;
}


.navbar-static-side a{
	color:#33455A;
}

/** sidebar active */
.menu_active > a {
	color: #ffffff;
	background: #33455A;
}
.nav > li.menu_active > a:focus, .nav > li.menu_active > a:hover {
	color: #ffffff;
	background: #33455A;
}


#page-wrapper{
	min-height: 0;
}

#loader{
	display:none;
}

/** modal customisation */
.modal-header, .modal-footer{
	padding: 5px 20px;
	background: #eee;
}

.modal-header{
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
}
.modal-footer{
	 border-bottom-left-radius: 5px;
	 border-bottom-right-radius: 5px;
}

@media(min-width:768px) {
	.navbar-static-side {
		z-index: 1;
		position: absolute;
		width: 200px;
	}

	#page-wrapper {
		margin: 0 0 0 200px;
		min-height: 0;
		border-left: 1px solid #e7e7e7;
	}
}

#footer {
	background: #2c3742;
	color: #ffffff;
	border-top: 1px solid #8c7f82;
	margin-top: 30px;
	padding: 10px 20px;
	text-align: center;
}

.circle {
  background-size: cover;
  background-repeat: no-repeat;
  background:#1acdd9;
  height:80px;
  width:80px;
  position: absolute;
  margin: 7px;
  border: 2px solid;
  border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-color:#0000;
  text-align: center;
  padding: 10px;
  opacity: 0.5;
}

#skull {
	height:94px;
	width:94px;
	position:absolute;
	border: 1px solid;
	border-radius: 90px;
	padding: 6px;
    -webkit-animation-name: scale;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: scale;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: scale;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: scale;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes scale {
	from {
		-o-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
	50% {
		-o-transform: scale(0.9,0.9);
		-ms-transform: scale(0.9,0.9);
		-moz-transform: scale(0.9,0.9);
		-webkit-transform: scale(0.9,0.9);
		transform: scale(0.9,0.9);
	}
	to {
		-o-transform: scale(1,1);
		-ms-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
	}
	}
	@-moz-keyframes scale {
		from {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
		50% {
			-o-transform: scale(0.9,0.9);
			-ms-transform: scale(0.9,0.9);
			-moz-transform: scale(0.9,0.9);
			-webkit-transform: scale(0.9,0.9);
			transform: scale(0.9,0.9);
		}
		to {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
	@-webkit-keyframes scale {
		from {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
		50% {
			-o-transform: scale(0.9,0.9);
			-ms-transform: scale(0.9,0.9);
			-moz-transform: scale(0.9,0.9);
			-webkit-transform: scale(0.9,0.9);
			transform: scale(0.9,0.9);
		}
		to {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}
	@keyframes scale {
		from {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
		50% {
			-o-transform: scale(0.9,0.9);
			-ms-transform: scale(0.9,0.9);
			-moz-transform: scale(0.9,0.9);
			-webkit-transform: scale(0.9,0.9);
			transform: scale(0.9,0.9);
		}
		to {
			-o-transform: scale(1,1);
			-ms-transform: scale(1,1);
			-moz-transform: scale(1,1);
			-webkit-transform: scale(1,1);
			transform: scale(1,1);
		}
	}