body {
	background-color: #f8f8f8;
}
#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

@media(min-width:768px) {
	#page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		min-height: 1300px;
		border-left: 1px solid #e7e7e7;
	}
}

.navbar-static-side ul li {
	border-bottom: 1px solid #e7e7e7;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	padding: 15px;
	min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
	display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}

.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar-search {
	padding: 15px;
}

.arrow {
	float: right;
}
.fa.arrow:before {
	content: "\f104";
}
.active > a > .fa.arrow:before {
	content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
	border-bottom: none !important;
}
.nav-second-level li a {
	padding-left: 37px;
}
.nav-third-level li a {
	padding-left: 52px;
}
@media(min-width:768px) {
	.navbar-static-side {
		z-index: 1;
		position: absolute;
		width: 250px;
	}
	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}
.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}
.btn-primary.btn-outline {
	color: #428bca;
}
.btn-success.btn-outline {
	color: #5cb85c;
}
.btn-info.btn-outline {
	color: #5bc0de;
}
.btn-warning.btn-outline {
	color: #f0ad4e;
}
.btn-danger.btn-outline {
	color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	color: #fff;
}
.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}
.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body {
	margin-left: 60px;
}
.chat li.right .chat-body {
	margin-right: 60px;
}
.chat li .chat-body p {
	margin: 0;
	color: #777777;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
	margin-right: 5px;
}
.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}
.login-panel {
	margin-top: 25%;
}
.flot-chart {
	display: block;
	height: 400px;
}
.flot-chart-content {
	width: 100%;
	height: 100%;
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	background: transparent;
}
table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}
table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50,50,50,.5);
}
.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}
.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}
.show-grid {
	margin: 15px 0;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}
.navbar-right {
	margin-right: 0px;
}
.selectLang {
    padding: 13px 13px 0px 0px;
}
#update {
    float: left;
    padding: 16px 20px 0px 20px;
}
#update a {
    font-weight: bold;
    color: red;
	padding: 13px 13px 0px 0px;
}
.colorpicker-saturation {
	float:left;
	width:100px;
	height:100px;
	cursor:crosshair;
	background-image:url("/stopexit/assets/images/saturation.png");
}
.colorpicker-saturation i {
	position:absolute;top:0;left:0;
	display:block;
	width:5px;
	height:5px;
	margin:-4px 0 0 -4px;
	border:1px solid #000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}
.colorpicker-saturation i b {
	display:block;width:5px;height:5px;border:1px solid #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.colorpicker-hue,.colorpicker-alpha {
	float:left;
	width:15px;
	height:100px;
	margin-bottom:4px;margin-left:4px;
	cursor:row-resize;
}
.colorpicker-hue i,.colorpicker-alpha i {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:1px;
	margin-top:-1px;
	background:#000;
	border-top:1px solid #fff
}
.colorpicker-hue{background-image:url("/stopexit/assets/images/hue.png");}
.colorpicker-alpha{display:none;background-image:url("/stopexit/assets/images/alpha.png");}
.colorpicker{top:0;left:0;z-index:2500;min-width:130px;padding:4px;margin-top:1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*zoom:1}
.colorpicker:before, .colorpicker:after{display:table;line-height:0;content:""}
.colorpicker:after{clear:both}
.colorpicker:before{position:absolute;top:-7px;left:6px;display:inline-block;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-left:7px solid transparent;border-bottom-color:rgba(0,0,0,0.2);content:''}
.colorpicker:after{position:absolute;top:-6px;left:7px;display:inline-block;border-right:6px solid transparent;border-bottom:6px solid #fff;border-left:6px solid transparent;content:''}
.colorpicker div{position:relative;}
.colorpicker.colorpicker-with-alpha{min-width:140px;}
.colorpicker.colorpicker-with-alpha .colorpicker-alpha{display:block;}
.colorpicker-color{height:10px;margin-top:5px;clear:both;background-image:url("/stopexit/assets/images/alpha.png");background-position:0 100%;}
.colorpicker-color div{height:10px}
.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i{display:inline-block;width:16px;height:16px;vertical-align:text-top;cursor:pointer;}
.colorpicker.colorpicker-inline{position:relative;z-index:auto;display:inline-block;float:none}.colorpicker.colorpicker-horizontal{width:110px;height:auto;min-width:110px;}
.colorpicker.colorpicker-horizontal .colorpicker-saturation{margin-bottom:4px}
.colorpicker.colorpicker-horizontal .colorpicker-color{width:100px}
.colorpicker.colorpicker-horizontal .colorpicker-hue,
.colorpicker.colorpicker-horizontal .colorpicker-alpha{float:left;width:100px;height:15px;margin-bottom:4px;margin-left:0;cursor:col-resize;}
.colorpicker.colorpicker-horizontal .colorpicker-hue i,
.colorpicker.colorpicker-horizontal .colorpicker-alpha i{position:absolute;top:0;left:0;display:block;width:1px;height:15px;margin-top:0;background:#fff;border:0;}
.colorpicker.colorpicker-horizontal .colorpicker-hue{background-image:url("/stopexit/assets/images/hue-horizontal.png");}
.colorpicker.colorpicker-horizontal .colorpicker-alpha{background-image:url("/stopexit/assets/images/alpha-horizontal.png");}
.colorpicker.colorpicker-hidden{display:none}
.colorpicker.colorpicker-visible{display:block}
.colorpicker-inline.colorpicker-visible{display:inline-block}
.tab-content {padding-top: 10px;}
.panel-heading {font-weight: bold;}
.trash{opacity: 0.3;}
.img-preview {
	cursor:pointer;
	margin:3px;
	max-width:200px;
	max-height:120px;
}
.img-preview:hover, .img-preview.active {
	border: 1px solid #252525;
}
.bootstrap-touchspin .input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.bootstrap-touchspin .input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px 10px;
	margin-left: -1px;
	position: relative;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
	border-radius: 0;
	border-top-right-radius: 4px;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
	margin-top: -2px;
	border-radius: 0;
	border-bottom-right-radius: 4px;
}
.bootstrap-touchspin .input-group-btn-vertical i {
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 9px;
	font-weight: normal;
}
.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {
	padding:10px;
	border-radius:5px;
}
.nav-tabs li a {
	font-size: 14px;
	padding: 3px 7px;
}
.draft {
	display: none;
	font-size: 14px;
	line-height: 110%;
}
#showText {
	display: none;
}

#show2 {
	margin-top: 10px;
}
.showDraft.active {
	color:red;
}

.fixed-size-td {
	width: 30px;
	text-align: center;
}

#table-hours {
	width: 100%;
}
.TouchFontSize {
	padding: 0px;
	margin: 0px;
	height: 20px;
	width: 20px;
	font-size: 14px;
}